body {
	background-color: #2980B9;
}

.limit50 {
	max-width: 50px;
}

.apikey {
	display: inline
}

.navbar .brand {
	text-decoration: none;
	text-transform: uppercase;
}

.jumbotron {
	text-align: center;
}

.jumbotron h1 {
	padding: 12px;
	text-align: center;
	font-size: 80px;
}

.table .blocked {
	background-color: #C0392B;
}

.table td {
	vertical-align: inherit;
}

.navbar .btn-navbar {
	padding: 15px 15px;
}

/* Hover on tables */
.table tbody tr:hover td,.table tbody tr:hover th {
	background-color: #ECF0F1;
}

/* TABLES HACK */
@media only screen and (max-width: 979px) {
	/* Force table to not be like tables anymore */
	table,thead,tbody,th,td,tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		display: none;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
		margin-bottom: 20px
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align: left;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	td:before {
		content: attr(data-title);
	}
}