@(assertions: List[BadgeAssertion])
@import helper._
@import helper.twitterBootstrap._

@main("Assertions"){

<h3>@assertions.size @if(assertions.size==1){assertion} else {assertions}</h3>

<table class="table table-hover">
	<thead>
		<tr>
			<th>UID</th>
			<th>Badge</th>
			<th>Issued On</th>
			<th>Evidence</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		@assertions.map { assertion =>
		<tr @if(assertion.blocked){class="blocked"}>
			<td>@assertion.uid</td>
			<td><a href="@assertion.badge">@assertion.badge</a></td>
			<td>@assertion.getRealTime (@assertion.issuedOn)</td>
			<td><a href="@assertion.evidence">@assertion.evidence</a></td>
			@if(!assertion.blocked){<td><a href="@routes.RevocationController.add(assertion.uid)" class="btn btn-mini btn-danger" onclick="if (!confirm('Are you sure?')) return false;">Revocate</a></td>}	else{<td><a href="@routes.RevocationController.remove(assertion.uid)" class="btn btn-mini btn-danger" onclick="if (!confirm('Are you sure?')) return false;">Un Revocate</a></td>}
			
		</tr>
		}

	</tbody>
</table>

<h3><a href="@routes.RevocationController.getRecocationsAsJson">Revocation JSON</a></h3>
<p>@controllers.RevocationController.getRecocationsString</p>
}
