@(badges: List[BadgeClass], images: List[Image], issuers:List[IssuerOrganization], toolForm: Form[BadgeClass])

@import helper._
@import helper.twitterBootstrap._ 

@main("Badges"){

<h3>@badges.size @if(badges.size==1){badge} else {badges}</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Image</th>
			<th>Criteria</th>
			<th>Issuer</th>
			<th>Alignment</th>
			<th>Tags</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>


		@badges.map { badge =>
		<tr>

			<td>@badge.name</td>
			<td>@badge.description</td>
			<td><img src="@badge.image" class="img img-polaroid limit50"></td>
			<td><a href="@badge.criteria">@badge.criteria</a></td>
			<td><a href="@badge.issuer">@badge.issuer</a></td>
			<td>@badge.alignment</td>
			<td>@badge.getTagsString</td>
			<td><a href="@routes.BadgeController.delete(badge.id)" class="btn btn-mini btn-danger" onclick="if (!confirm('Are you sure?')) return false;">Delete</a><a href="@routes.BadgeController.getJson(badge.id)" class="btn btn-mini btn-info">Json</a></td>
		</tr>
		}

	</tbody>
</table>

<h3>Add new Badge</h3>

@form(routes.BadgeController.addBadge()) {

<fieldset>

@inputText(toolForm("name"), '_label -> "Name")

@inputText(toolForm("description"), '_label -> "Description")

@select(toolForm("image"),images.map{ image => image.url -> image.name },'_label -> "Image")

@inputText(toolForm("criteria"), '_label ->
	"Criteria URL") 
	
	
@select( toolForm("issuerString"), issuers.map{ issuer
	=> issuer.id.toString -> issuer.name }, '_label -> "Issuer")

	@inputText(toolForm("tagsOneLine"), '_label -> "Tags")
	
</fieldset>

<div class="actions">
	<input type="submit" value="Create this badge" class="btn btn-primary">
	or <a href="@routes.BadgeController.badges()" class="btn">Cancel</a>
</div>

} 
}
