@(images: List[Image], imageForm: Form[Image])

@import helper._
@import helper.twitterBootstrap._

@main("Images"){
	
	<h3>@images.size @if(images.size==1){image} else {images}</h3>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
	<tbody>
             
	@images.map { image =>
			<tr>
				<td>@image.name</td>
				<td>@image.imageType</td>
				<td><a href="@image.url"><img src="@image.url" class="img limit50"></a></td>
				<td><a href="@routes.ImageController.delete(image.id)" class="btn btn-danger" onclick="if (!confirm('Are you sure?')) return false;">Delete</a></td>
			</tr>
	}
	
	  </tbody>
            </table>
	
<hr>

	<h3>Add new Image</h3>
	
	@form(routes.ImageController.addImage(), 'enctype -> "multipart/form-data") {
        
        <fieldset>
        
            @inputText(imageForm("name"), '_label -> "Name", '_showConstraints -> false)
            
            @select(
  				imageForm("imageType"),
  				Image.imageType.values.map{ typ =>
    				typ.toString() -> typ.toString()
  			}, '_label -> "Type", '_showConstraints -> false)
            
            @inputFile(imageForm("imageFile"), '_label -> "File", '_showConstraints -> false)

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Add image" class="btn btn-primary"> or 
            <a href="@routes.ImageController.images()" class="btn">Cancel</a> 
        </div>
        
    }
	
}