@(issuers: List[IssuerOrganization], images: List[Image], issuerForm: Form[IssuerOrganization])

@import helper._
@import helper.twitterBootstrap._

@main("Issuers"){
	
	<h3>@issuers.size @if(issuers.size==1){issuer} else {issuers}</h3>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Website</th>
				<th>Description</th>
				<th>Contact Email</th>
				<th>Image Path</th>
				<th>Revocation List</th>
			</tr>
		</thead>
	<tbody>
	
	@issuers.map { issuer =>
		<tr>
				<td>@issuer.id</td>
				<td>@issuer.name</td>
				<td><a href="@issuer.url">@issuer.url</a></td>
				<td>@issuer.description</td>
				<td>@issuer.email</td>
				<td><a href="@issuer.image">@issuer.image</a></td>
				<td><a href="@issuer.revocationList">@issuer.revocationList</a></td>
			</tr>
	}
	
	</tbody>
            </table>
	
	
	<h3>Add new Issuer</h3>
	
	@form(routes.AdminController.addIssuer()) {
        
        <fieldset>
        
            @inputText(issuerForm("name"), '_label -> "Name")
            @inputText(issuerForm("url"), '_label -> "Website")
            @inputText(issuerForm("description"), '_label -> "Description")
            @select(
  				issuerForm("image"),
  				images.map{ image =>
    			image.url -> image.name
  			}, '_label -> "Image")
            @inputText(issuerForm("email"), '_label -> "E-mail address")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Add issuer" class="btn btn-primary"> or 
            <a href="@routes.AdminController.issuers()" class="btn">Cancel</a> 
        </div>
        
    }
	
}