@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Merit - @title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="">
<meta name="author" content="">

<!-- Loading Bootstrap -->
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
<style type="text/css">
body {
	padding-top: 75px;
	padding-bottom: 40px;
}
</style>

<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-responsive.css"))'>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("flat-ui.css"))'>
<link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>

</head>
<body>
@if(session.get("email")!=null){
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="/">Merit</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li><a href="@routes.AdminController.index()">Home</a></li>
						<li><a href="@routes.AssertionController.assertions()">Assertions</a></li>
						<li><a href="@routes.BadgeController.badges()">Badges</a></li>
						<li><a href="@routes.IssuerController.issuers()">Issuers</a></li>
						<li><a href="@routes.ImageController.images()">Images</a></li>
						<li><a href="@routes.AlignmentController.alignments()">Alignments</a></li>
						<li><a href="#">Signed in</a>
							<ul>
                    			<li>
                            		<a href='@routes.AdminController.user(session.get("email"))'>My Account</a>
                        		</li>
                        		<li>
                            		<a href='@routes.AdminController.userAdmin()'>User Admin</a>
                        		</li>
                        		<li>
                            		<a href="@routes.Application.logout()">Sign Out</a>
                        		</li>
                			</ul>	
						</li>
					
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar-inner -->
	</div>
	<!-- /.navbar -->
	}


	<div class="container">

		@if(flash.get(Application.GLOBAL_FLASH_ERROR)){
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>@flash.get(Application.GLOBAL_FLASH_ERROR)</strong>
		</div>

		} @if(flash.get(Application.GLOBAL_FLASH_INFO)){
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>@flash.get(Application.GLOBAL_FLASH_INFO)</strong>
		</div>

		} @if(flash.get(Application.GLOBAL_FLASH_SUCCESS)){
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>@flash.get(Application.GLOBAL_FLASH_SUCCESS)</strong>
		</div>

		}

		<div class="well">@content</div>
	</div>


	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/activelinks.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/shadowscroll.js")'></script>
	
</body>
</html>
